body {
    box-sizing: border-box;
    background: #292C2F;
    -webkit-user-select: none;
    user-select: none;
}

/* Main container */
.container {
    width: 100%;
}

/* Startup page */
#startup-page {
    margin: auto;
    text-align: center;
}

/* disappear class for resume-form to hide it */
#startup-page.disappear {
    display: none;
}

/* Startup page heading */
#startup-page .app-heading {
    font-size: 100px;
    font-family: 'Ubuntu', sans-serif;
    margin-top: 35px;
    color: #AAA;
}

/* Startup page buttons */
#startup-page .main-buttons {
    margin-top: 135px;
}

.button {
    font-size: 30px;
    font-family: "Slabo 27px", serif;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    background-color: #303337;
    box-shadow: 0px 1px 0px #000;
    margin-bottom: 10px;
    width: 325px;
    height: 60px;
    margin: 10px auto;
    line-height: 60px;
    transition: all 0.6s;
    -webkit-user-select: none;
    user-select: none;
}

.button:hover {
    /*background: #AAA;*/
    color: #AAA;
    cursor: pointer;
    /*opacity: 0.8;*/
}

.button:active {
    position: relative;
    top: 1px;
}

#startup-page #upload-saved-resume {
    position: relative;
}

#startup-page #upload-saved-resume:hover .tip-for-upload-button {
    visibility: visible;
}

#startup-page #upload-saved-resume .tip-for-upload-button {
    /* Position the tip */
    position: absolute;
    top: 61px;
    left: -15px;
    z-index: 1;

    visibility: hidden;
    margin: 0px auto;
    width: 355px;
    height: 18px;
    background-color: #303337;
    color: #AAA;
    text-align: center;
    letter-spacing: 2px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    padding: 15px 0;
    font-size: 15px;
    font-family: "Slabo 27px", serif;
    line-height: 18px;
}

/*
        <div id="open-modal" class="modal">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title">Open Saved Template File</h2>
                </div>
                <div class="modal-body">
                    <div class="modal-input">
                        <div id="select-template-label">Select a template</div>
                        <select id="select-template-list" size="5">
                             <option value="volvo">Volvo</option>
                               <option value="saab">Saab</option>
                                 <option value="mercedes">Mercedes</option>
                                   <option value="audi">Audi</option>
                        </select>
                        <div id="error-message"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="m-button" id="omodal-cancel-button">Cancel</button>
                    <button type="button" class="m-button" id="omodal-delete-button">Delete</button>
                    <button type="button" class="m-button" id="omodal-open-button">Open</button>
                </div>
            </div>
        </div>
                        */

#open-modal .modal-body {
    height: 135px;
}

#open-modal .modal-body .modal-input #select-template-label {
    font-size: 20px;
    padding-right: 5px;
}

#open-modal .modal-body .modal-input select {
    display: block;
    margin-top: 7px;
    width: 100%;
    background: #AAA;
    border: 1px solid #222;
    border-radius: 4px;
    font-size: 14px;
    height: 90px;
    padding: 6px 12px;
    line-height: 1.42857143;
    color: #333;
}

#open-modal .modal-footer button:nth-child(2) {
    margin-right: 5px;
}

#open-modal .modal-footer button:nth-child(3) {
    margin-right: 10px;
}
